* {
    box-sizing: border-box;
}

:root {
    --primary-color: #6094a0;
    --primary-shade-1: #419ea6;
    --primary-shade-2: #027e8a;
    --primary-shade-3: #057b87;
    --primary-shade-4: #dbedef;
    --primary-shade-5: #b3bebc;
    --text-shade-1: #758a88;
}

html,
body {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
}

.mob-max-width {
    max-width: 650px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.bg--grey-2 {
    background-color: #f3f9f9;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center
}

.pos-rel {
    position: relative;
}

@media screen and (max-width: 767px) {
    .pb-x-25 {
        padding-inline: 0.25rem;
    }

    .pb-y-25 {
        padding-block: 0.25em;
    }

    .pb-x-50 {
        padding-inline: 0.5rem;
    }

    .pb-y-50 {
        padding-block: 0.5em;
    }

    .m-b-3 {
        margin-bottom: 3rem
    }
}

.section-padding-bgcolor {
    margin-block: 0.75rem;
    padding: 0.25rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 4px 1px #e9f3f5;
}

header {
    background-color: var(--primary-shade-1);
    padding: 0.5rem;
}

header .map-noti-cart {
    padding-bottom: 0.5rem;
}

/* Start of Navigation menu */

.navigation-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 -3px 6px -1px #e9f3f5;
}

.navigation-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3rem 0;
}

.navigation-menu li {
    text-align: center
}

.navigation-menu li .icons {
    font-size: 1.8rem;
    color: var(--primary-shade-2);
}

.navigation-menu li>div {
    color: var(--primary-shade-2);
    font-weight: 500;
    font-size: 0.75rem;
}

/* End of Navigation menu */

.image-slider {
    margin-block: 0.25rem;
}

.image-slider button[type="button"] {
    width: 10px !important;
    height: 10px !important;
    border: 0 !important;
    box-shadow: 0 0 0 0 !important;
    position: relative !important;
}

.rsis-container+div {
    z-index: 0 !important;
}

.image-slider button[type="button"]::before {
    position: absolute !important;
    content: '';
    background-color: #aeaeae;
    inset: 0;
    border-radius: 50%;
    z-index: -1;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    text-align: center;
    justify-content: center;
    align-items: baseline;
    grid-row-gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.services-child {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.66rem;
}

.service-image-child {
    max-width: 40px;
    margin: auto;
    position: relative;
    margin-bottom: 0.7rem;
}

.service-image-child img {
    display: block;
    margin: auto;
    width: 30px;
    aspect-ratio: 1 / 1.1;
}

.service-image-child::before {
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--primary-color);
    mix-blend-mode: color;
}

/* Categories */

.category-container {
    background-color: initial;
    padding-block: 0
}

.category-box {
    margin-bottom: 1rem
}

.category-main-heading {
    margin: 0;
    background-color: var(--primary-shade-4);
    color: var(--primary-shade-3);
    text-align: center;
    padding-block: 0.5rem;
    font-size: 1.3rem;
    border-radius: 3px
}

.category-content {
    margin-top: 0.5rem
}

.category-subheading {
    position: relative;
    color: var(--text-shade-1);
    font-weight: bold;
    text-align: center;
    padding-block: 0.5rem
}

.category-subheading::before {
    position: absolute;
    content: '';
    width: 60%;
    inset-inline: 0;
    margin: auto;
    height: 2px;
    background-color: var(--primary-shade-5);
    bottom: 0
}

.category-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 100px));
    gap: 1rem;
    margin-block: 1rem 0.25rem
}

.category-child-each {
    min-height: 150px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 0.7rem;
    text-align: center;
    font-weight: bold;
    color: #434343
}

.caterogy-childname:not(:has(img)) {
    display: grid;
    place-items: center;
    background-color: #027e8a;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    margin: 0.25rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.25rem
}

.category-services {
    --column-count: 2;
    --max-width: 170px;
    display: grid;
    grid-template-columns: repeat(var(--column-count,auto-fit), minmax(calc(var(--max-width) - 20px), var(--max-width)));
    gap: 1rem;
}

.category-services-child {
    position: relative;
    /* height: 170px; */
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    overflow: hidden;
}

.category-services-child::before {
    position: absolute;
    content: '';
    inset: 0;
    background-image: linear-gradient(to bottom, transparent, transparent, #000 110%);
}

.category-services-child>span {
    position: absolute;
    inset-inline: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.category-services-child>span.category-services-discount {
    top: 0;
    right: 0.25rem;
    padding: 0.1rem 0.25rem;
    left: auto;
    font-size: 0.75rem;
    border-radius: 2px;
    background-color: #4caf50
}

.category-services-child>span.category-services-title {
    bottom: 0.5rem;
    text-transform: capitalize;
    font-size: 1rem
}

@media screen and (min-width: 340px) {
    .category-services {
        --column-count: unset;
    }
}

@media screen and (max-width: 340px) {
    .category-services {
        --column-count: unset;
        --max-width: 150px;
        gap: 0rem;
        justify-content: center;
    }
}